#content-main div#locking_notification {
    border: 2px solid #f00;
    padding: 5px;
    background: #fee;
    display: inline-block;
    font-weight: bold;
	display: none;
	width: 510px;
}

/* Hide fields original_modified_at and original_locked_at, they are
for internal use. Hide them through CSS, since it's not possible through
the ModelAdmin */
div.original_locked_at, div.original_modified_at {
    display: none;
}